h1{
    text-align:center ;
}
body{
    padding: 5px;
    width: 960px;
    margin: 20px auto;
}
.app-header{
    height: 180;
}
.content{
    width: 600px;
    float: left;
}
.sidebar{
    width: 300px;
    float: right;
}
.app-footer{
    clear: both;
}
@media screen and(max-width:980px){
body{
    width:94%;
}
.content{
    width: 65%;
}
.sidebar{
    width:30%;
}
}

@media screen and (max-width: 700px){
.content{ 
    width: auto;
    float: none;
    }
    .sidebar{
        width:auto;
        float:none;
    }
}
@media screen and (max-width: 480px){
    .app-header{ 
        height: auto;
    }
    h1{
        font-size: 24px;
    }
    .sidebar{
            display:none;
        }
    }