:root{
    --primary-color: blue;
    --secondary-color:white;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    font-family:'Roboto', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    overflow: none;
}
.app-header{
    background-color: var(--primary-color);
    box-shadow: 3px 3px 10px #888;
    width:170px;
}
.app-header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 15px 10px;
}
.app-header .logo{
    width:170px;
    margin-bottom: 16px;
}
.app-header input[type='text']{
    padding: 7px;
    width: 300px;
    border:0;
    border-radius: 3px;
}
.subheader{
    background-color: var(--secondary-color);
    color:white;
    box-shadow: 3px 3px 10px #888;
    margin: 0 auto 16px auto;
    width: 90%;
    font-size: 14px;
    padding:10px;
    display:flex;
    align-items: center;
    justify-content:space-between ;
}
.subheader p{
    margin:4px;
}
.subheader img{
    width: 30px;
    height: 30px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:10px;
}
.grid .item{
    display:flex;
    flex-direction: column;
    padding:10px;

}
.grid .item h4{
    margin-bottom: 5px;
}
.grid .item p{
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
.grid .item img{
    width:30px;
    align-self: flex-end;
}.app-footer{
    background-color: white;
    color:black;
    padding:10px;
    font-size: 14px;
    margin-top:10px;
}
.app-footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.app-footer ul li{
    display: flex;
    flex-direction: column;
    align-items:center;
}
