*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:445px;
    height:892px;
}
h1{
    text-align: center;
}
h2{
    margin: 10px;
    margin-left:25px;
}
pre{
    margin: 10px;
    margin-left:25px;
}
h4{
    margin-bottom: 10px;
}
header{
    background-color: aqua;
}
header input{
    background-color:aqua;
    align-items: center;
}
.back{
    font-size:35px;
    position: absolute;
    left: 10px;
    top: 0px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}
.search{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 60px;
    height: 30px;
}
.container{
    background-color:#fff;
    padding: 10px;
    margin:20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
hr{
    width:400px;
    margin:25px;
}

img{
    width: 50px;
    height: 50px;
}
footer{
    position: absolute;
    top: 800px;
    right: 30px;
}
